* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a img {
    height: 30px;
}

.row {
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    z-index: 99;
}

.container {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}
  
section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.shop-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0 15% 0;
    scroll-snap-align: start;
}

.shop-section img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

#home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
}

#video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.btn {
    padding: 10px 20px;
    background-color: white;
    position: absolute;
    bottom: 20%;
}

.section-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-1 {background-image: url("img/1.jpeg");}
#img-2 {background-image: url("img/2.jpeg");}
#img-3 {background-image: url("img/3.jpeg");}
#img-4 {background-image: url("img/4.jpeg");}
#img-5 {background-image: url("img/5.jpeg");}
#img-6 {background-image: url("img/6.jpeg");}
#img-7 {background-image: url("img/7.jpeg");}
#img-8 {background-image: url("img/8.jpeg");}
#img-9 {background-image: url("img/9.jpeg");}
#img-10 {background-image: url("img/10.jpeg");}
#img-11 {background-image: url("img/11.jpeg");}
#img-12 {background-image: url("img/12.jpeg");}
#img-13 {background-image: url("img/13.jpeg");}
#img-14 {background-image: url("img/14.jpeg");}
#img-15 {background-image: url("img/15.jpeg");}
#img-16 {background-image: url("img/16.jpeg");}
#img-17 {background-image: url("img/17.jpeg");}
#img-18 {background-image: url("img/18.jpeg");}
#img-19 {background-image: url("img/19.jpeg");}
#img-20 {background-image: url("img/20.jpeg");}
#img-21 {background-image: url("img/21.jpeg");}
#img-22 {background-image: url("img/22.jpeg");}
#img-23 {background-image: url("img/23.jpeg");}
#img-24 {background-image: url("img/24.jpeg");}

#identidad-img {
    width: 100%;
    padding-top: 10%;
}